.todo__item {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0px auto;
}

.todo__item:nth-child(1) {
    margin-top: 15px;
}

.input__wrapper {
    margin-right: 15px;
}

.description__wrapper p {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000;
}